# Entornos virtuales
venv/
.venv/
env/
ENV/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log